{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Atmosphere 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20110923

-->

</script>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CS_minor Project</title>
<link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">COVID19 </a></h1>
			<p>a_DBMS_approach</p>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="homepage">Home</a></li>
				<li><a href="doneby">Authors</a></li>
			</ul>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Effect on world economy</a></h2>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<br>
					<br>
					<br>
					<br>
					The world economy is likely to face a long slog back from the coronavirus crisis.<br>

                    Two reports this week predicted that global growth will struggle to bounce back from the lockdowns, travel restrictions and business closures meant to contain the pandemic.<br>

                    IHS Markit said that it expects the world economy to shrink 5.5% this year, triple the damage it sustained in the 2008 financial crisis, and then struggle to regain traction.<br>

                    “While growth in the hardest-hit economies may snap back briefly, the momentum will soon fade,’’ the London-based financial research firm warned.<br>


                    It expects the US economy to contract by 7.3% this year and the collective economy of the 19 European countries that share the euro currency to recoil 8.6%.<br>

                    Hobbling the rebound, IHS predicts, will be a wave of business bankruptcies and cautious spending by consumers trying to repair their household finances and uneasy about resuming old habits that drive economic growth — shopping, eating out, booking vacations and going to the cinema.<br>

                    “Government leaders wanted to err on the side of caution, and, as a result, we basically shut down large parts of the economy,” said Sara Johnson, executive director at IHS Markit. “I suspect we overdid it, but it’s perhaps too soon to second guess.’’<br>

                    No return to pre-crisis levels until 2022<br>
                    Likewise, Deutsche Bank Wealth Management warned that a “hoped-for’’ rebound in the second half of 2020 won’t be strong enough to undo the damage absorbed in the first, at least among the advanced economies of the United States, Europe and Japan.<br>

                    “We don’t expect developed economies output to be back to pre-crisis levels until 2022,’’ the report said.<br>

                    Economies normally bounce back rapidly — registering so-called V-shaped recoveries — from sudden shocks such as natural disasters.<br>

                    But Deutsche Bank notes that the virus is different: Recovering from the pandemic won’t require any of the growth-stimulating rebuildings that follow earthquakes and typhoons.<br>

                    Many economists say any recovery is likely to be subdued until the virus has been tamed by a vaccine or effective treatments.<br>

                    “I don’t believe you can have a credible economic recovery or a V-shaped recovery unless you have the pandemic really largely under control,’’ senior fellow at the Peterson Institute for International Economics Jacob Kirkegaard said.<br>

                    World Bank: Sixty million facing extreme poverty<br>
                    World Bank Group President David Malpass said on Tuesday that the pandemic "could push as many as 60 million people into extreme poverty – erasing much of the recent progress made in poverty alleviation".<br>

                    "To return to growth", he added, "our goal must be rapid, flexible responses to tackle the health emergency, provide cash and other expandable support to protect the poor, maintain the private sector, and strengthen economic resilience and recovery.”<br>

                    In the same statement, the World Bank announced its emergency operations to fight the COVID-19 pandemic have reached 100 developing countries, "the largest and fastest crisis response in the Bank Group’s history".<br>

                    In a bid to salvage Europe's economy, France's President Emmanuel Macron and Germany's Chancellor Angela Merkel yesterday said they are backing the creation of an EU bond aimed at raising €500 billion for the area.<br>

					
				</div>
			</div>

			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<div id="search" >
					</div>
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
					
				</li>
				<li>
					<h2>General Information</h2>
					<ul>
						<li><a href="link_1">Symptoms of Coronavirus</a></li>
						<li><a href="link_2">Prevention Measures for Coronavirus</a></li>
						<li><a href="link_3">Effect on world economy</a></li>
						<li><a href="link_5"></a></li>
						<li><a href="link_5"></a></li>
					</ul>
				</li>
				<li>
					<h2>World News</h2>
					<ul>
						<li><a href="link_6">COVID19: best handling</a></li>
						<li><a href="link_7">Top 3, cases wise </a></li>
						<li><a href="link_8">113-Year-Old Woman beats COVID19</a></li>
						<li><a href="link_9"></a></li>
						<li><a href="link_10"></a></li>
					</ul>
				</li>
				<li>
					<h2>India News</h2>
					<ul>
						<li><a href="link_11">Hydroxychloroquine trials</a></li>
						<li><a href="link_12">India is still at risk</a></li>
						<li><a href="link_13">digital adoption in India</a></li>
						<li><a href="link_14"></a></li>
						<li><a href="link_15"></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer-content">
	<div id="footer-bg" class="container">
		
		<div id="column3">
			<h2>Recommended Links</h2>
			<ul>
				<li><a href="https://www.covid19india.org/">covid19.india.org.in</a></li>
				<li><a href="https://www.mygov.in/covid-19">mygov.in</a></li>
				<li><a href="https://covid19.who.int/">WHO COVID 19 Dashboard</a></li>
				<li><a href="https://pmnrf.gov.in/en/">Donate to PMNRF</a></li>
				<li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/donate">Donate to WHO</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="footer">
</div>
<!-- end #footer -->
</body>
</html>
